.panel {
    min-height: 2.2em;
    border-radius: $panel_radius;
    font-weight: bold;
    font-size: 1.1em;
    color: $fg_color;
    text-shadow: $text_shadow;

    background-color: transparent;

    .button-bin {
        margin: 3px 2px;
        background-color: $bg_color;
        border-radius: $button_radius;

        &.launcher {
            margin-left: 4px
        }

        &.powermenu {
            margin-right: 4px
        }
    }

    .workspaces {
        margin: 2px 4px;
        background-color: $bg_color;
        border-radius: $button_radius;

        .workspace-btn {
            margin: 2px 6px;
        }
    }

    .button {
        .icon {
            font-size: 1.2em;
        }

        @include button($flat: true, $radii: $panel_button_radius);

        >* {
            padding: 0 .7em
        }

        &.launcher {
            color: $accent;
        }

        &.powermenu {
            color: $red;
        }

        &.window {
            @include button($flat: true, $interactive: false)
        }

        &.system-indicators {
            .icon {
                font-size: 1.3em;
            }

            .battery {
                .low {
                    color: $destructive;
                }

                .charging {
                    color: $succes;
                }

                .charged {
                    color: $succes;
                }
            }
        }

        &.media {
            .icon {
                margin-right: .2em;

                &.spotify {
                    color: $green;
                }

                &.mpv {
                    color: $magenta;
                }
            }
        }
    }

    .sliders-bin {
        min-width: 220px;
        margin-right: 4px;

        .slider {
            @include slider($width: 1.2em, $slider: false);

            .icon {
                margin-left: 3px;
                color: $accent_fg;
            }
        }

        .separator {
            min-width: 2px;
            min-height: 1em;
            margin: 0 4px;
            background-color: $fg_color;
        }
    }
}
