$red: #FCC5E9; //changed "pink2"
$dark-navy: #14151e; // changed "background2"
$light-gray: #506477; //changed "blueGray3"
$gray: #303340; //changed "background1"
$dark-gray: #171922; //changed "background3"
$light-blue: #add7ff; //changed "blue2
$blue: #91b4d5; // changed "blue3"
$mauve: #FAE4FC; //changed "pink1"
$dark-blue: #506477; //changed "blueGray3"
$yellow: #FFFAC2; //changed "yellow"
$purple: #FAE4FC; //changed "pink1" 
$green: #99e6bf;
$orange: #A6ACCD; //changed "blueGray1"
$teal: #add7ff; //changed "blue2
$mint: #add7ff; //changed "blue2
$raisin-black: #14151e; // changed "background2"
$bg: #14151e; // changed "background2"
$fg: #E4F0FB;
