#!/usr/bin/env bash

# only continue if the user has the nix version of direnv
if has nix_direnv_version; then
  # we want to track changes here, and reaload the environment
  # we choose these files because they are the ones that are most likely
  # to have made a change that required a shell reaload
  watch_dir modules/flake/programs
  watch_file modules/flake/args.nix

  # now we want to load the flake environment
  use flake
fi
