home/isabel/programs/gui/confs/bars/ags/config/.sass-cache
home/isabel/programs/gui/confs/bars/ags/config/*.css
home/isabel/programs/gui/confs/bars/ags/config/scss/generated.scss
home/isabel/programs/gui/confs/bars/ags/config/settings.json
