[core]
	editor = micro
[user]
	email = isabel@isabelroses.com
	name = isabel
	signingkey = 5CA53B45269A27BE
[github]
	user = isabelroses
	token = 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
[credential]
    helper = store
[commit]
	gpgsign = true
