# noisy diffs
flake.lock -diff

# git lfs
*.png filter=lfs diff=lfs merge=lfs -text

# treat age files as binarys
*.age -text -diff

# templates should not register on linguist
parts/templates/* linguist-vendored
