# noisy diffs
flake.lock -diff
lazy-lock.json -diff

# git lfs
*.png filter=lfs diff=lfs merge=lfs -text

# treat age files as binarys
*.age -text -diff

# templates should not register on linguist
flake/templates/* linguist-vendored
