# this file purly exists to make git tools appear better
isabel <isabel@isabelroses.com> <isabelroseslive@gmail.com>
isabel <isabel@isabelroses.com> <isabelroses@users.noreply.github.com>
isabel <isabel@isabelroses.com> <71222764+isabelroses@users.noreply.github.com>
isabel <isabel@isabelroses.com> Isabel <isabel@isabelroses.com>

# remap all CI to one committer. all beacuse i want a pretty pfp for the commits
bell's bot <bot@isabelroses.com> github-actions[bot] <github-actions[bot]@users.noreply.github.com>
bell's bot <bot@isabelroses.com> dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
