# this file purly exists to make git tools appear better
isabel <isabel@isabelroses.com> <isabelroseslive@gmail.com>
isabel <isabel@isabelroses.com> <isabelroses@users.noreply.github.com>
isabel <isabel@isabelroses.com> <71222764+isabelroses@users.noreply.github.com>
