$theme: 'light';

//gnome
$red: #d20f39;
$green: #40a02b;
$blue: #1e66f5;
$yellow: #df8e1d;
$magenta: #8839ef;
$teal: #179299;
$orange: #179299;

//charm
// $red: #e67090;
// $green: #43c383;
// $yellow: #d8e77b;
// $blue: #51a4e7;
// $magenta: #9077e7;
// $teal: #51e6e6;
// $orange: #E79E64;

$bg_color: #eff1f5;
$fg_color: #4c4f69;
$hover_fg: #4c4f69;
$accent_fg: #dce0e8;
$accent: #209fb5;
