$theme: 'dark';

$red: #f38ba8;
$green: #a6e3a1;
$blue: #1e66f5;
$sapphire: #74c7ec;
$yellow: #f9e2af;
$magenta: #b4befe;
$teal: #94e2d5;
$orange: #fab387;

$bg_color: #1e1e2e;
$fg_color: #cdd6f4;
$hover_fg: #9399b2;
$accent_fg: #181825;