configuration {
	modi: "run,drun";
	show-icons: true;
	terminal: "terminator";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "   Apps ";
	display-run: "   Run ";
	sidebar-mode: true;
}

@theme "./themes/catppuccin-mocha.rasi"
