@mixin calendar() {
  calendar {
    &.button {
      @include button($flat: true);
      margin: 1em;
    }

    &:selected {
      border: 2px solid $accent;
      border-radius: $button_radius;
    }

    &.header {
      background-color: transparent;
      border: none;
      color: transparentize($fg_color, 0.5);
    }

    &.highlight {
      background-color: transparent;
      color: transparentize($accent, 0.5);
    }

    &:indeterminate {
      color: transparentize($fg_color, 0.9);
    }

    font-size: 1.2em;
    padding: 0.2em;
  }
}
