window.corner .corner {
	background-color: if($screen_corners, $bg_color, transparent);
	border-radius: if($screen_corners, $radii * 2, 0);
}

window.indicator .progress {
	@include floating_widget;
	padding: $spacing/2;

	.fill {
		border-radius: max($popover_radius - $spacing/2, 0);
		background-color: $accent;
		color: $accent_fg;

		image {
			-gtk-icon-transform: scale(0.7);
		}

		.font-icon {
			font-size: 34px;
		}
	}
}
