@import "./notifications.scss";

window#dash .dash {
  @include floating-widget;
  @include spacing;

  padding: $popover-padding * 1.4;

  .avatar {
    @include widget;
    border-radius: $radius * 1.2;
  }

  .header {
    @include spacing(0.5);
    color: transparentize($fg, 0.15);

    button {
      @include button;
      padding: $padding;

      image {
        font-size: 1.4em;
      }
    }
  }

  .sliders-box {
    @include widget;
    padding: $padding;

    button {
      @include button($flat: true);
      padding: $padding * 0.5;
    }

    .volume button.arrow:last-child {
      margin-left: $spacing * 0.4;
    }

    .volume,
    .brightness {
      padding: $padding * 0.5;
    }

    scale {
      @include slider;
      margin: 0 ($spacing * 0.5);

      &.muted highlight {
        background-image: none;
        background-color: transparentize($fg, $amount: 0.2);
      }
    }
  }

  .row {
    @include spacing;
  }

  .menu {
    @include unset;
    @include widget;
    padding: $padding;
    margin-top: $spacing;

    .icon {
      margin: 0 ($spacing * 0.5);
      margin-left: $spacing * 0.2;
    }

    .title {
      font-weight: bold;
    }

    separator {
      margin: ($radius * 0.5);
      background-color: $border-color;
    }

    button {
      @include button($flat: true);
      padding: ($padding * 0.5);

      image:first-child {
        margin-right: $spacing * 0.5;
      }
    }

    .bluetooth-devices {
      @include spacing(0.5);
    }

    switch {
      @include switch;
    }
  }

  .sliders-box .menu {
    margin: ($spacing * 0.5) 0;

    &.app-mixer {
      .mixer-item {
        padding: $padding * 0.5;
        padding-left: 0;
        padding-right: $padding * 2;

        scale {
          @include slider($width: 0.5em);
        }

        image {
          font-size: 1.2em;
          margin: 0 $padding;
        }
      }
    }
  }

  .toggle-button {
    @include button;
    font-weight: bold;

    image {
      font-size: 1.3em;
    }

    label {
      margin-left: $spacing * 0.3;
    }

    button {
      @include button($flat: true);

      &:first-child {
        padding: $padding * 1.2;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        padding: $padding * 0.5;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.active {
      background-color: $primary-bg;

      label,
      image {
        color: $primary-fg;
      }
    }
  }

  .simple-toggle {
    @include button;
    font-weight: bold;
    padding: $padding * 1.2;

    label {
      margin-left: $spacing * 0.3;
    }

    image {
      font-size: 1.3em;
    }
  }

  .media {
    @include spacing;

    .player {
      @include media;
    }
  }

  .notifications {
    .header {
      margin-bottom: $spacing;
      margin-right: $spacing;

      > label {
        margin-left: $radius * 0.5;
      }

      button {
        @include button;
        padding: $padding * 0.7 $padding;
      }
    }

    .notification-scrollable {
      @include scrollable($top: true, $bottom: true);
    }

    .notification-list {
      margin-right: $spacing;
    }

    .notification {
      @include notification;
      @include widget;
      padding: $padding;
      margin-bottom: $spacing;
    }
  }
}
