@import "themes/mocha.css";

* {
	border: none;
	border-radius: 6px;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Symbols Nerd Font, SF Pro Display, Noto Sans CJK JP;
	font-size: 14px;
	font-weight: normal;
}

button.text-button {
	min-height: 24px;
	min-width: 16px;
}

window#waybar {
	background: shade(alpha(@mantle, 0.9), 1.0);
	border-bottom: shade(alpha(@base, 0.9), 1.0);
	color: @text;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 15px;
}

window#waybar.hidden {
	opacity: 0.2;
}

workspaces {
	border-radius: 15px 6px 6px 15px;
}

tooltip {
	background: @base;
	border: 2px solid @blue;
}

tooltip label {
	color: @subtext1;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @text;
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each workspace name */
	border: none;
	border-radius: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px @sky;
	border-radius: 5px;
	border: none;
}

#workspaces button.focused {
	background-color: @surface2;
	box-shadow: inset 0 -3px @blue;
	border-radius: 5px;
	border: none;
}

#workspaces button.urgent {
	background-color: shade(alpha(@red, 0.7), 0.8);
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#gamemode {
	padding: 0 10px;
	color: #ffffff;
}

#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#tray,
#clock {
	color: @white;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { 
	margin-left: 0;   
} 

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

label:focus {
	background-color: #000000;
}

#cpu {
	color: @teal;
}

#cpu.warning {
	color: @peach;
}

#cpu.critical {
	color: @red;
}

#memory {
	color: @sapphire;
}

#memory.warning {
	color: @peach;
}

#memory.critical {
	color: @red;
}

#disk {
	color: @mauve;
}

#disk.warning {
	color: @peach;
}

#disk.critical {
	color: @red;
}

#network {
	margin: 0px 5px 0px 30px;
}

#bluetooth {
	margin: 0px 5px 0px 0px;
}

#bluetooth.connected {
	color: @blue;
	margin: 0px 5px 0px 0px; 
}

#bluetooth.off {
	color: @red;
	margin: 0px 5px 0px 0px; 
}

#pulseaudio {
	margin: 0px 5px 0px 0px;
}

#temperature {
	color: @yellow;
}

#temperature.critical {
	color: @red;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	color: @maroon;
}

#idle_inhibitor {
	margin: 0px 5px 0px 0px;
}

.custom-spotify {
	padding: 0 10px;
	color: @green;
}

#gamemode {
	color: @flamingo;
}

#custom-rightseparator {
	color: rgba(67, 255, 100, 0);
	padding: 0 1px;
	font-size: 1px;
	margin: 0px 3px 0px 1px;
}

#custom-leftseparator {
	color: rgba(67, 255, 100, 0);
	padding: 0 1px;
	font-size: 1px;
	margin: 0px 1px 0px 3px;
}

#custom-middleseparator {
	color: rgba(67, 255, 100, 0);
	padding: 0 1px;
	font-size: 1px;
	margin: 0px 2px 0px 2px;
}
