@mixin user($width: 10em, $height: 10em) {
  padding: 0;
  min-height: 10em;
  min-width: 10em;
  background-image: url($avatar);
  background-size: cover;

  .darkened {
    @include darkened($radii: $button_radius);
    padding: 0.3em;

    label {
      text-shadow: $text_shadow;

      &:first-child {
        color: transparentize($fg_color, 0.1);
        font-size: 1.3em;
      }

      &:last-child {
        color: transparentize($fg_color, 0.3);
        font-size: 1.1em;
      }
    }
  }
}
