.background.takeshot {
	background-color: rgba(0, 0, 0, 0.5);

	.content {
		@include floating_widget;

		.takeshot-menu {
			border-radius: $radii * 3;
			padding: 15px;
		}

		.button-bin {
			margin: 15px;
			margin-bottom: 0;
			margin-top: 0;

			.button {
				@include button($focusable: true);
				border-radius: $radii * 2.4;
				min-width: 130px;
				min-height: 130px;
			}

			.label {
				font-size: 20px;
				margin: 8px 0;
			}
		}

		.icon {
			font-size: 5rem;
		}

		.blue {
			color: $blue;
		}

		.red {
			color: $red;
		}

		.green {
			color: $green;
		}
	}
}

.background.previewshot {
	.content {
		@include floating_widget;

		.previewshot-menu {
			border-radius: $radii * 3;
			padding: 15px;
		}

		.button-bin {
			margin: 15px;
			margin-bottom: 0;
			margin-top: 0;

			.button {
				@include button($focusable: true);
				border-radius: $radii;
				min-width: 15px;
				min-height: 50px;
			}

			.label {
				font-size: 15px;
				margin: 8px 0;
			}
		}

		.icon {
			font-size: 1.5rem;
		}

		.blue {
			color: $blue;
		}

		.red {
			color: $red;
		}

		.green {
			color: $green;
		}
	}

	.preview {
		background-image: url("/tmp/screenshot.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 1rem;
	}
}
