$theme: 'light';

$red: #d20f39;
$green: #40a02b;
$blue: #1e66f5;
$yellow: #df8e1d;
$magenta: #8839ef;
$teal: #179299;
$orange: #179299;

$bg_color: #eff1f5;
$fg_color: #4c4f69;
$hover_fg: #4c4f69;
$accent_fg: #dce0e8;
$accent: #209fb5;