window#powermenu {
	.shader {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

window#powermenu .window-content {
	@include floating-widget;
	@include spacing(2);
	padding: $popover-padding + $spacing * 1.5;
	border-radius: if(
		$radii ==0,
		0,
		$popover-radius + ($popover-padding + $spacing * 1.5)
	);

	button {
		@include unset;

		image {
			@include button;
			border-radius: $popover-radius;
			min-width: 1.7em;
			min-height: 1.7em;
			font-size: 4em;
		}

		label,
		image {
			color: transparentize($fg-color, 0.1);
		}

		&:hover {
			image {
				@include button-hover;
			}

			label {
				color: $fg-color;
			}
		}

		&:focus image {
			@include button-focus;
		}

		&:active image {
			@include button-active;
		}

		&:focus,
		&:active {
			label {
				color: $accent;
			}
		}
	}
}
