$theme: 'dark';

$red: #f38ba8;
$green: #f38ba8;
$yellow: #f9e2af;
$blue: #89b4fa;
$magenta: #cba6f7;
$teal: #94e2d5;
$orange: #94e2d5;

$bg_color: #1e1e2e;
$fg_color: #cdd6f4;
$hover_fg: #cdd6f4;
$accent_fg: #11111b;
$accent: #75c7ec;